@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #05246d80;
  color: white;
  font-family: sans-serif;
}

input,
textarea,
select {
  color: #000;
  outline: none;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}
